@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Add scrollbar styles to the vollist section */
.vollist,
.taskstatusbox {
  /* Set a max height to limit the scrollable area */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: gray #e5e5e5; /* For Firefox */
}

/* For Chrome and Edge */
.vollist::-webkit-scrollbar,
.taskstatusbox::-webkit-scrollbar {
  width: 6px;
}

.vollist::-webkit-scrollbar-thumb,
.taskstatusbox::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}

.vollist::-webkit-scrollbar-thumb:hover,
.taskstatusbox::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}
